.card {
  display: flex;
  flex-direction: column;
  max-width: 413px;
  position: relative;
}

.card__image {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  max-width: 100%;
  border-radius: 8px;
  border: none;
  cursor: url("../images/zoom-icon.png"), zoom-in;
}

.card__content {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 0;
}

.card__title {
  margin: 0;
  max-width: 353px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__like {
  background-color: transparent;
  border: none;
  padding: 0;
  background-image: url(../images/like-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 23px;
  height: 20px;
  opacity: 0.7;
  cursor: pointer;
}

.card__like_liked {
  background-image: url(../images/card-liked.svg);
  opacity: 100%;
}

.card__like:hover {
  opacity: 100%;
}

.card__like_liked:hover {
  opacity: 50%;
}

.card__delete {
  background-image: url(../images/delete-icon.svg);
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.card__delete:hover {
  background-image: url(../images/delete-icon-hover.svg);
}

@media screen and (max-width: 630px) {
  .card {
    width: 288px;
  }

  .card__title {
    max-width: 235px;
    line-height: 1;
    font-size: 16px;
  }
}
