.modal {
  position: fixed;
  padding: 10px;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #00000080;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear, visibility 0.5s 0s;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal__container_type_delete {
  max-width: 630px;
}

.modal__title {
  padding: 0;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 500;
}

.modal__title_type_delete {
  font-size: 24px;
  text-align: center;
}

.modal__form {
  border: none;
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
}

.modal__label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 32px;
  opacity: 0.8;
  display: block;
}

.modal__input {
  width: 100%;
  padding: 16px 12px;
  margin-top: 8px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  border-style: solid;
  border-width: 1px;
  border-color: #21212166;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal__input:focus {
  outline: none;
  border-color: #21212166;
  border-width: 2px;
}

.modal__input_error {
  border-color: #ff000099;
}

.modal__input.modal__input_error:focus {
  border-color: #ff000099;
  border-width: 2px;
}

.modal__error {
  margin-top: 8px;
  display: none;
  color: #ff0000;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
}

.modal__error_visible {
  display: block;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  background-image: url(../images/close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  opacity: 40%;
}

.modal__close-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__save-button {
  padding: 18px 32px;
  width: 156px;
  background-color: #212121;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.modal__save-button_inactive {
  background-color: #212121;
  opacity: 0.5;
}

.modal__save-button:hover {
  opacity: 80%;
  cursor: pointer;
}

.modal__button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.modal__delete-button {
  background-color: #ff6565;

  width: 156px;
  height: 52px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.modal__delete-button:hover {
  background-color: #ff3333;
  cursor: pointer;
}

.modal__cancel-button {
  background-color: #fff;

  width: 156px;
  height: 52px;
  border-radius: 8px;
  border: 1px solid #212121;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.modal__cancel-button:hover {
  background-color: #212121;
  color: #fff;
  cursor: pointer;
}

.modal__image {
  border-radius: 8px;
  max-height: 80vh;
  max-width: 80vw;
  width: 100%;
  object-fit: contain;
}

.modal__image-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__image-caption {
  padding: 4px 8px;
  margin: 8px auto auto 0;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  background-color: #212121;
  border-radius: 8px;
  display: inline-block;
}

.modal__close-button_type_preview {
  position: absolute;
  top: 0;
  right: -52.75px;
  background-image: url(../images/White-delete-icon.svg);
  opacity: 100%;
}

.modal__close-button_type_preview:hover {
  opacity: 40%;
}

@media screen and (max-width: 630px) {
  .modal__container {
    padding: 12px;
  }

  .modal__container_type_delete {
    padding: 10px;
  }

  .modal__title {
    margin-top: 12px;
    margin-bottom: 34px;
    font-size: 20px;
  }

  .modal__title_type_delete {
    font-size: 20px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__save-button {
    width: 100%;
  }

  .modal__delete-button {
    max-width: 156px;
    width: 100%;
  }

  .modal__cancel-button {
    max-width: 156px;
    width: 100%;
  }

  .modal__image-caption {
    font-size: 16px;
  }

  .modal__close-button_type_preview {
    right: 0;
    top: -48px;
  }

  .modal__button-container {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
