.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: #21212166 solid 1px;
  font-weight: 500;
}

.profile__avatar-container {
  position: relative;
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__avatar {
  margin-right: 20px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.profile__avatar-button {
  margin: auto auto 12px auto;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  border: none;
  background-color: transparent;
  color: #fff;

  cursor: pointer;
}

.profile__avatar-button:hover {
  text-decoration: underline;
}

.profile__avatar-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: #000;
  border-radius: 8px;
  align-items: center;
  justify-content: flex-end;
}

.profile__avatar-container:hover .profile__avatar-overlay {
  opacity: 0.5;
}

.profile__avatar-button-icon {
  margin-right: 8px;
  vertical-align: -2px;
}

.profile__text {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.profile__name {
  margin: 0;
  max-width: 420px;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__paragraph {
  margin: 12px 0 18px;
  max-width: 420px;
  font-size: 16px;
  line-height: 1;
  opacity: 70%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  margin: auto auto 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  border: none;
  background-color: transparent;
  color: #212121;
  opacity: 70%;
}

.profile__edit-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__edit-button-icon {
  margin-right: 8px;
  vertical-align: -2px;
}

.profile__post-button {
  width: 157px;
  height: 52px;
  font-size: 16px;
  line-height: 1;
  margin: auto 0 0 auto;
  padding: 18px 24px 18px 32px;
  border-radius: 8px;
  border: none;
  background-color: #212121;
  color: #fff;
  display: flex;
  white-space: nowrap;
}

.profile__post-button-icon {
  margin: 2px 8px 2px 0;
  height: 12px;
  width: 12px;
}

.profile__post-button:hover {
  background-color: #21212166;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .profile {
    padding-top: 20px;
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
  }

  .profile__avatar-container {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }
  .profile__avatar {
    height: 100%;
    width: 100%;
    margin-right: 0;
  }

  .profile__avatar-overlay {
    top: auto;
    left: auto;
    right: 4.66px;
    bottom: 4.66px;
    width: 24px;
    height: 24px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: none;
    justify-content: center;
    align-items: center;
  }

  .profile__avatar-container:hover .profile__avatar-overlay {
    opacity: 1;
  }

  .profile__avatar-button {
    margin: 0;
    font-size: 0;
    opacity: 1;
  }

  .profile__avatar-button-icon {
    margin: 0;
    vertical-align: 0;
    color: #fff;
    opacity: 1;
  }

  .profile__name {
    font-size: 20px;
    margin-top: 12px;
  }
  .profile__paragraph {
    margin-top: 6px;
  }

  .profile__edit-button {
    margin: 32px auto auto;
  }

  .profile__post-button {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
}
